/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
}

.footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: whitesmoke;
    text-align: center;
    height: 100px;
    font-size: 120%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* page style */
a {
    color: whitesmoke;
}

.nav-bar {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    font-size: 130%;
}

.a-nav {
    margin: 10px;
    padding: 10px;
}